@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lora&family=Noto+Sans+KR:wght@100&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    margin: 0 10% 0 10%;
}

h1 {
    text-align: center;
    color: #E44D26;
    font-size: 35px;
}

h2 {
    color: #E44D26;
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h1,
h2,
h3 {
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0 10px 10px;
}

.ancres {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.imghtml {
    float: left;
    height: 350px;
    width: 350px;
}

p {
    font-size: 16px;
    padding-left: 30px;
}

.buttons{
    border: 2px black solid;
    width: 180px;
    height: 50px;
    background-image: radial-gradient(circle at center, rgba(217, 255, 0, 0.068), #E44D26);
    border-radius: 5px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
}

.bts {
    text-decoration: none;
    font-size: 17px;
    color: black;
}


.ancres a:visited {
    color: black;
}


@keyframes rotation {
    from{
        transform:rotate(0);
    }
    to {
        transform:rotate(360deg);
    }
}
.bts:hover {
    animation: rotation
    0.8s 
    ease-in-out 
    0s 
    infinite 
    alternate;
}

.videos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#vid {
    margin-top: 50px;
    text-align: center;
}

.backToUp {
    display: flex;
    justify-content: right;
    background-color: #0b44ad9f;
    width: fit-content;
}

.foot {
    display: flex;
    justify-content: right;
}

