@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lora&family=Noto+Sans+KR:wght@100&display=swap');

body {
<<<<<<< HEAD
    font-family: 'Noto Sans KR', sans-serif;
=======
    font-family: 'Lato', sans-serif;
>>>>>>> gilles
    overflow-x: hidden;
}

html, body {
    min-height: 100%;

}

h1 {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    font-size: 180%;
    font-weight: 400;
    margin-top: 55px;
}

h3 {
    font-weight: bold;
    font-size: 130%;
}

/* NAVBAR */
#imglogo {
    display: flex;
    position: fixed;
    height: 80px;
    width: 60px;
    top: 2px;
    left: 5px;
    z-index: 102;
}

nav {
    z-index: 102;
    order: 1;
    position: fixed;
    margin-top: 500px;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/* FIN NAVBAR */


/* CONTACT */
h3 span {
    font-size: small;
}

.ctcs {
    margin-bottom: 30px;
}

.man {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    margin-left: 200px;
    margin-right: 200px;
}

.formulaire {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    grid-row: 1;
    grid-column: 1;

}

fieldset {
    padding: 20px;
    border: black 1px solid;
    border-radius: 5%;
    width: 500px;
    margin-left: 5px;
    background-color: #ebf4ff

}    

.espacefoot {
    height: 100px;
}

label,
textarea {
    margin: 10px 0 5px -5px;
}

textarea {
    height: 20em;
    width: 40em;
}

input {
    margin-bottom: 10px;
    margin-left: 10px;
}

.Centres {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row: 1;
    grid-column: 2;

}

.Centres>div {
    max-width: 300px;
    width: 300px;
    max-height: 170px;
    background-color: #ebf4ff;
    border-radius: 10%;
    padding: 10px;
}

.phone {
    margin-top: 28px;
}

textarea {
    resize: none;
 }

/* FIN CONTACT */

/* MAIN */

.titrep {
    margin: 50px 0 50px 0;
}
/* BOUTONS  */
.bts {
    text-decoration: none;
    font-size: 17px;
}

.links a:visited {
    color: black;
}

.links {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buttonsindex {
    width: 250px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    margin: 0 30px 0 30px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    box-sizing: border-box;
}

.buttonsindex:hover {
    border: 1px black solid;
}

#tbt1, 
#tbt2,
#tbt3,
#tbt4,
#tbt5,
#tbt6,
#tbt7,
#tbt8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tbt1, 
#tbt4,
#tbt6,
#tbt7 {
    background-color: rgb(253,220,185);
}

#tbt2 {
    background-color: rgb(252,203,200);
}

#tbt5 {
    background-color: rgb(203,229,204);
}

#tbt3,
#tbt8 {
    background-color: rgba(0, 132, 255, 0.5);
}

.item-prolile {
    display: table;
    color: black;
    width: 250px;
    height: 70px;
    background-color: rgb(208, 215, 221,0.3);
    border-radius: 5px;
    text-align:center;
    line-height:50px;
    margin: 0 30px 0 30px; 
    font-weight: bold;
}

.item-prolile span {
    vertical-align: middle;
    display: table-cell;
}

/* FIN BOUTONS  */
/* grilles */
.containergrilles {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 20% 30%;
    grid-template-areas: 
        "box1 box1 box2 box3"
        "box1 box1 box5 box5"
        "box4 box4 box5 box5";
        padding: 0 15% 0 15%; 
        margin-top: 50px;  
}

div .grid-item {
    background-color: #ebf4ff; 
}
.box1 {
    grid-area: box1;
    height: 343px;
}
.box1 h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
}
.box2 {
    grid-area: box2;
    height: 222px;
    align-self: flex-start;
}
.box2 h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
}
.box3 h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
}
.box3 {
    grid-area: box3;
    height: 222px;
}
.box4 {
    grid-area: box4;
    height: 293px;
}
.box4 h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
}
.box5 {
    grid-area: box5;
    height: 417px;
}
.box5 h3 {
    padding: 10px 0 10px 15px;
    margin: 0;
}
.grid-item a {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    margin:10px 0 0 15px;
}
.grid-item p {
    margin: 0 10px 50px 15px;
}
/* fin grille */
/* FIN MAIN */


/* CAROUSEL */
img {
    max-width: 100%;
}

.slider-container {
    width: 100vh;
    margin: auto;
    height: 465px;
    overflow: hidden;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 101;
    width: 100%;
    bottom: 508px;
    display: flex;
    justify-content: center;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover,.menu label:focus {
    background: #1c87c9;
}

.slide-input{
    opacity: 0;
}

.slide-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

[id^="slide"]:checked + .slide-img {
left: 0;
z-index: 100;
transition: left 0.65s ease-out;
} 


  
/* FOOTER */
footer {
    border-top: 2px solid black;
    padding-top: 10px;
    background-color: #ebf4ff;
    bottom: 0; left: 0; right: 0;
    position: relative;
    
    margin-top: 100px;
}

.mention {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.footerun {
    flex-basis: 15%;
    margin-left: 5%;
}

.footerdeux {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 15%;
    position: relative;
    left: 13%;
}

.footermention {
    padding: 0 15px 0 15px;
    text-decoration: underline;
    color: blue;
}

.imgfooter {
    display: flex;
    justify-content: center;
}

.lienfooter {
    margin: 10px 20px 5px 20px;
}

.lienfooter img {
    height: 36px;
    width: 26px;
}
/* FIN FOOTER */


/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: radial-gradient(circle at top, red, black, red, black, red);
    border-radius: 20px;
    border: 3px solid white;
}

.container {
    display: block;
}
/* FIN SCROLLBAR */


/* RESPONSIVE */

@media only screen and (min-width: 320px) and (max-width: 767px) {

    /* NAVBAR */
    nav {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 150px;
        height: auto;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff1f1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #1079a7c4;
    }

    /* FIN NAVBAR */
    .imghtml {
        width: 200px;
        height: 200px;
    }

    .buttons {
        width: 75px;
        height: 35px;
        vertical-align: auto;
        line-height: 15px;
    }

    .bts {
        font-size: 12px;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    iframe {
        width: fit-content;
        height: fit-content;
    }

    #vidmarg {
        margin-top: 15px;
    }

    main {
        display: flex;
        justify-content: center;
        margin: none;
    }
    .man {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    textarea {
        height: 10em;
        width: 19em;
    }
    fieldset {
        padding: 20px;
        border: black 1px solid;
        border-radius: 5%;
        width: 150px;
        margin-left: 5px;
        background-color: #ebf4ff
    
    }   
    .Centres {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-row: 1;
        grid-column: 2;
    
    }
    
    .Centres>div {
        max-width: 250px;
        width: 250px;
        max-height: 150px;
        background-color: #ebf4ff;
        border-radius: 10%;
        padding: 10px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

    #imglogo {
        height: 40px;
        width: 30px;
    }
    .man {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    textarea {
        height: 10em;
        width: 19em;
    }
    fieldset {
        padding: 20px;
        border: black 1px solid;
        border-radius: 5%;
        width: 150px;
        margin-left: 5px;
        background-color: #ebf4ff
    
    }   
    .Centres {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-row: 1;
        grid-column: 2;
    
    }

    .allvids {
        margin-left: 145px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1440px) { /* LAPTOP */
    ul:not(.nav) li {
        margin-left: 50px;
    }
}
