/* Titres */
h1{
    text-align: center;
    color: green;
    font-size: 35px;
    background-color: lightseagreen;
}

h2{
    color: green;
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h1, h2, h3{
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0 10px 10px;
}
/*--------------------------------------------------------------------*/

/* Menu de la page */
.ancresbout{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    background-color: lightseagreen;
}

.buttons{
    border: 2px black solid;
    width: 180px;
    height: 50px;
    background-image: radial-gradient(circle at center, rgba(217, 255, 0, 0.068), green);
    border-radius: 5px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
}

.bts{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

@keyframes buttanimation{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
    }

.buttons:hover{
    animation: buttanimation 1s infinite alternate;
}
/*--------------------------------------------------------------------*/

/* Contenu de la page */
body{
    background-color: lightseagreen;
}

main{
    margin: 0 10% 0 10%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid lightgreen;
    box-shadow: inset;
}

header{
    background-color: lightseagreen;
    margin-bottom: 20px;
    }

p{
    font-size: 16px;
    padding-left: 15px;
    margin: 10px;
}

strong{
    font-weight: bolder;
}

header:first-child{
    color: lightseagreen;
    text-align: center;
    font-size: 15px;
}

main p:nth-child(6){
    color: white;
    text-align: center;
    font-size: 15px;
}

.hidden:hover{
    font-weight: lighter;
    color: grey;
}

span{
    color: lightsalmon;
    text-shadow: 1px 1px 2px red;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border-width: 1px;
    border: solid 1px black auto;
    border-style: inset;
    display: block;
    word-wrap: break-word;
    margin:10px;
    padding:5px;
}

main p:last-child{
    color: gray;
    font-weight: bold;
}
/*--------------------------------------------------------------------*/

/* Images du haut de la partie présentation */
.images{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    float: left;
    justify-items: center;
    align-items: center; 
    margin-top: auto;
}

#engrenage{
    height: 230px;
    width: 320px;
    margin: 100px;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#engrenage:hover{
    transition: 10s ease-in-out;
    transform: rotate(2160deg);
}

@keyframes img2animation{
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
    }
}

#interfaceapp{
    height: 300px;
    width: 450px;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    animation: img2animation 3s;
}
/*--------------------------------------------------------------------*/

/* Images du bas de la partie sur le fonctionnement */
.galerie{
    height: 200px;
    width: 350px;
    float: none;
    display: block inline;
    margin: 10px;
}
.galerie:active{
    transform: scale(1.6);
}

/*--------------------------------------------------------------------*/

/* Vidéo (+contour) de la partie présentation */
iframe{
    height: 350px;
    width: 450px;
}

#video{
    border: double 6px grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(121, 169, 231);
    height: auto;
    width: auto;
    margin: auto;
}
/*--------------------------------------------------------------------*/

/* Liste dans la partie sur les types d'API */
.mylist{
    list-style-type: circle;
    list-style-position: outside;
    word-break: break-word;
    margin-left: 50px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------------*/

/* Tableaux des types d'API */
#catego{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#descrip{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

td{
    color: white;
    background-color: none;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    padding: 2px;
}

td:active{
    border: solid lightgreen 2px;
    background-color: green;
}

th{
    color: lightcoral;
    font-weight: bolder;
}

/*--------------------------------------------------------------------*/

/* Bouton retour */
input{
    background-image: linear-gradient(blue, purple, yellow, orange, pink, gray, red, green) ;
    color: black solid 2px;
    margin: 20px;
}

#bouthaut{
    display: flex;
    justify-content: center;
}
/*--------------------------------------------------------------------*/

/* Responsive */

